body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    color: #111;
    text-decoration: none;
}
section header ul li button{
    background-color: rgb(0, 119, 255);
    color: rgb(208, 214, 214);
    padding: 8px;
    border-radius: 3px;
    border-style: none;
    margin-right: 5px;
    cursor: pointer;
}
section .main{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 25px;
    padding-right: 110px;
    padding-left: 50px;
}
section .main .searchbox .search{
    width: 100%;
    padding: 14px;
    padding-left: 40px;
    padding-right: 1px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}
section .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    justify-content:space-between;
    align-items: center;
    pointer-events: none;
}
section .main .searchbox .icon .g1{
    display: flex;
    margin-right: 150px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
section .main .buttons{
   margin-top: 30px;
}
section .main .buttons button{
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 3px solid transparent;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #ffffff;
}
section .main .buttons button:hover{
    border-radius: 5px;
    background-color: #c4c1c1;
    un
}
section .main .lang{
    margin-top: 20px;
}
section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}
section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(216, 216, 216);
}
section .footer .row ul{
    display: flex;
}
section .footer .row ul li{
    list-style: none;
}
section .footer .row ul li a{
    text-decoration: none;
    color: #888888;
    margin-right: 25px;
    font-size: 15px;
}
section .footer .cn ul li{
    list-style: none;
}
section .footer .cn ul li a{
    text-decoration: none;
    color: #7e7c7c;
    font-size: 15px;
}

/* Mobile View */
@media (max-width: 896px){
    section .main .searchbox{
        width: 80%;
        padding-right: 100px;
        padding-left: 55px;
        
    }
    section .footer .row ul{
        display: block;
    }
    section{
        position: fixed;
    }
}
/* Desktop View */
@media (min-width:1024px){

}
/* Tablet View */
@media (min-width:769px) and (max-width:1023px){

}